.image{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 33%;
}
img{
    width: 33%;
    height: 33%;
    background-color: gray;
}
.details{
    display: block;
}